/* Header Styles*/
.header-main {
    background: #333333;
}

/* Footer Styles*/
.footer-main {
    background: #aaaaaa;
}


.Menu {
    font-size: 2em;
    align-items: center;
    display: flex;
    width: 33%;
}

.footer-heading {
    align-items: center;
    display: flex;
    width: 100%;
}