#clock {
  margin: 20px auto;
  border: 3px solid black;
  border-radius: 4px;
  text-align: center;
  align-content: center;
  width: 300px;
  color: #333;
  font-size: 46px;
  padding: 1rem;
  font-family: Asap, san-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.hours .minutes .seconds .ampm {
  padding: 50px;
}
