/* Importing Google font - Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font-family: 'Quicksand', sans-serif; */

/* Universal selector. This will affect the entire document */
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #333;
}


header {
    width: 100%;
    display: flex;
    background-color: #222;
    padding: 20px 0;
    position: sticky;
    top: 0px;
    box-shadow: 0px 1px 2px #333;
    justify-content: center;
    align-content: space-between;
}

.nav-logo {
    width: 50%;
    align-items: left;
    justify-content: center;
}

.nav-menu {
    width: 50%;
    align-items: right;
}

.navbar {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main {
    width: 80%;
    margin: 0 auto;
    background-color: #333;
    overflow: hidden;
}


.homepagelogo {
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;

}

a {
    color: #F0B906;
    text-decoration: none;
}

li {
    list-style: none;

}

.nav-logo img {
    width: 50px;
    height: auto;
}

h1 {
    font-size: 3em;
}

.welcome-msg h1, h3 {
    color: #222;
    text-align: center;
}



main {
    background-image: url("/img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.banner-welcome {
    padding-top: 100px;
    min-height: 500px;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
}

.banner-welcome div img {
    width: 10em;
    display: grid;
    align-items: center;
    justify-content: center;
}

.banner-welcome div.welcome-msg {
    display: grid;
    height: 100px;
    padding-top: 10px;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}


.banner-welcome button {
    padding: 10px 0;
    margin: 10px 85px;
    border-radius: 5px;
    border: none;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8em;
}

.banner-welcome button:hover {
    cursor: pointer;
    background-color: #222;
    color: #ddd;
}

.banner-info {
    padding: 20px 25px;
    background-color: #333;
}

.banner-info h2 {
    color: #ddd;
    text-align: center;
}

.banner-info p {
    color: #ddd;
    text-align: justify;
}

.box-info {
    float: left;
    width: calc(33% - 20px);
    padding: 0 10px;
}


.banner-gallery {
    height: 500px;
    padding: 20px 25px;
}

.banner-gallery h2 {
    margin: 20px 20px;
    text-transform: uppercase;
    text-align: center;
}

.clearfix {
    clear: both;
}


footer {
    padding-bottom: 20px;
}

footer p {
    text-align: center;
    color: #ddd;
    line-height: 1.6em;
    letter-spacing: 0.2em;
}